mixin review-card(text="", imageUrl="", author="", position="", courseName="")
    .review-card
        .icon-braces
        .review-card__content
            .review-card__text= text 
            .review-card__info
                .review-card__img
                    img(src=imageUrl, alt=author)
                .review-card__meta
                    .review-card__author= author 
                    .review-card__position #{position}, #{courseName}
            